.banner {
	background: linear-gradient(135deg, rgba(20,20,20,0.3), rgba(30,30,30,0.5)), url(https://picsum.photos/id/1011/400/300);
	background-size: cover;
	height: 100vh;
	text-align: center;
	justify-content: space-around;
	align-items: center;
	display: flex;
}

.banner-content {
	text-align: center;
}

.banner-content h1 {
	color: white;
	font-weight: bolder;
}

.banner-content p {
	color: white;
	font-weight: lighter;
	margin-bottom: 30px;
}
